        <footer>

            <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; Bruce Meng. All rights reserved. GRLC accepted: GWxq7kvsZvZv1YPGfgUVYCnfMCVx96768t" | markdownify }}</p>

        </footer>
       
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
       
       
    </body>

</html>
